body{
    color: black;
    background-color: khaki;
}
.main-container{
    font: 120;
    background-color: grey;
}

.container{
    
    color: dodgerblue;
    background-color: burlywood;
    font: 60;
    font-weight: 60;
    font-size: large;
    margin: 10px 10px;
    padding: 10px 10px;
}
p{
 color:black;
 background-color: cyan;
 font: 60;
 font-weight: 60;
 font-size: large;
 margin: 10px 1000px 0px 0px;
 padding: 0px 0px;
}
#copy{
    color: darkblue;
    font-size: 12pxs;
    font-style: italic;
}
.pading{
    padding: 0px;
    margin: 0px;
}
 form{
     background-color: cornflowerblue;
     margin: 10px 400px;
     padding: 20px;
 }
 .link{
     margin: 0px 0px 0px 1200px ;
 }
 .form-container input[type="text"],
 .form-container input[type="email"],
 .form-container textarea
 {
     width: 100%;
 }
 .button{
     background-color: blueviolet;
     font-weight: bold;
     color: brown;
     width: 100%;
 }
 .button:hover{
     background-color: chartreuse;
     font-style: italic;
 }
 .imagecenter{
     text-align: center;
 }